<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-shop-homepage/css/bootstrap.min.css"
          rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-shop-homepage/css/shop-homepage.css"
          rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/shop">Shop</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" th:each="link : ${navigationLinks}">
                <li>
                    <a href="#" th:href="${link.link}" th:text="${link.name}">About</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <form id="productForm" class="form-signin" th:action="${postUrl}" th:object="${product}"
                  method="post">
                <h2 class="form-signin-heading">Add new product</h2>

                <label for="inputTitle">Title:</label>
                <input type="text" class="form-control" id="inputTitle" th:field="*{title}"/>

                <label for="inputDescription">Description:</label>
                <textarea type="text" class="form-control" rows="5" id="inputDescription"
                          th:field="*{description}"></textarea>

                <label for="inputPrice">Price:</label>
                <input type="text" class="form-control" id="inputPrice" th:field="*{price}"/>
                <div class="form-group">
                    <label for="Category">Category:</label>
                    <select class="form-control" id="Category" >

                        <option th:each="category : ${categories}" th:text="${category.name}"
                                th:value="${#strings.toLowerCase(category.name)}">Dogs
                        </option>
                        <!--${#strings.toLowerCase(category.name)}-->
                        <!--<option value="dogs">Dogs</option>-->
                        <!--<option value="cats">Cats</option>-->
                    </select>
                    <input id="Category2" type="hidden" class="form-control" />

                    <button id="switch" type="button" class="btn btn-default">Add</button>

                    <input id="inputCategory" type="hidden" class="form-control" th:field="*{category}"/>
                </div>
                <label for="smallImage">Small Image:</label>
                <input type="text" class="form-control" id="smallImage" th:field="*{smallImage.link}"/>

                <label for="smallImageAlt">Small Image Alt:</label>
                <input type="text" class="form-control" id="smallImageAlt" th:field="*{smallImage.altText}"/>

                <label for="bigImage">Big Image:</label>
                <input type="text" class="form-control" id="bigImage" th:field="*{bigImage.link}"/>

                <label for="bigImageAlt">Big Image Alt:</label>
                <input type="text" class="form-control" id="bigImageAlt" th:field="*{bigImage.altText}"/>


                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>

            <p th:text="${inform}"/>


        </div>
        <!-- 1 formularz html -->
        <!-- 2 formularz th -->
        <!-- 3 formularz ajax -->

        <div class="col-sm-3"></div>
    </div>

</div>
<!-- /.container -->

<div class="container">

    <hr/>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="https://blackrockdigital.github.io/startbootstrap-shop-homepage/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="https://blackrockdigital.github.io/startbootstrap-shop-homepage/js/bootstrap.min.js"></script>

<script th:src="@{/js/myScript.js}"></script>

</body>

</html>
